<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mcnutt.inclassdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SecondActivity" />
        <activity android:name=".WeightLayoutActivity" />
        <activity android:name=".NestedLinearLayoutActivity" />
        <activity android:name=".RelativeLayoutNestedExample" />
        <activity android:name=".RelativeAlignmentExampleActivity" />
        <activity android:name=".FrameLayoutPictureActivity" />
        <activity android:name=".TableLayoutExampleActivity" />
        <activity android:name=".FragmentExampleActivity" />
        <activity android:name=".FragmentTransactionExampleActivity" />
        <activity android:name=".FragmentDataPassingActivity" />
        <activity android:name=".FragmentToActivityDataPassingExample" />
        <activity android:name=".ActivityInterFragmentCommunication" />
        <activity android:name=".ActivityScreenRotationExample" />
        <activity android:name=".SimpleVolleyExampleActivity" />
        <activity android:name=".MoreComplexVolleyExampleActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".SimpleFirebaseExample" />
        <activity android:name=".MoreComplexFirebaseExample" />
        <activity android:name=".RoomPersistenceExampleActivity" />
        <activity android:name=".LocationExampleActivity" />
    </application>

</manifest>